@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 class="display-4"> <span style="color:green">::</span>Welcome<span style="color:green">::</span></h1>
        <p>to</p>
        <p><span class="h2">George Udosen's</span> VGG Project Task</p>
        <h3 class="d-inline-block">ASPNETCORE</h3> &#43; <h3 class="d-inline-block">Jenkins</h3> &#43; <h3 class="d-inline-block">Octopus</h3> 
        <i class="d-block">Totally Awesome...</i>
    </div>
